@if (isLoading$ | async) {
  <mat-spinner></mat-spinner>
  } @else 
  { @if (error$ | async; as error) {
  <h2>Disculpa mario, el html esta en otra base de datos</h2>
  <h3>{{error["message"]}} </h3>
  <div
  class="d-flex align-items-center justify-content-center"
  >
  <img
    class="main__img  img-fluid"
    src="../../../../../assets/Super-Mario-Bros-404-error.webp"
    alt="portada smash ultimate"
  />  
  </div>
  }  
  @else {  
  
    <form [formGroup]="inscriptionsForm" action="">
      <mat-form-field>
          <mat-label>Curso</mat-label>
          <mat-select formControlName="name">
              <mat-option [value]="curso.name" *ngFor="let curso of cursos ">{{curso.id}} </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field>
          <mat-label>Alumnos</mat-label>
          <mat-select formControlName="students"> 
            <mat-option [value]="student" *ngFor="let student of students ">{{student.id}} </mat-option>
          </mat-select>
      </mat-form-field>
      <button  mat-raised-button >Inscribir alumno</button>
  </form>
<table
  mat-table
  [dataSource]="(inscriptions$ | async) || []"
  class="mat-elevation-z8"
  style="background-color: silver"
>
  <!-- id de la inscription-->
  <ng-container matColumnDef="id">
    <th appCabecera mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Usuario que creo la inscripcion -->
  <ng-container matColumnDef="userId">
    <th appCabecera mat-header-cell *matHeaderCellDef>inscriptor</th>
    <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
  </ng-container>

   <!-- Estudiante inscripto -->
   <ng-container matColumnDef="studentId">
    <th appCabecera mat-header-cell *matHeaderCellDef>Estudiante</th>
    <td mat-cell *matCellDef="let element">{{ element.studentId }}</td>
  </ng-container>

  <!-- Curso subscrpito -->
  <ng-container matColumnDef="cursoId">
    <th appCabecera mat-header-cell *matHeaderCellDef>Curso</th>
    <td mat-cell *matCellDef="let element">{{ element.cursoId }}</td>
  </ng-container>

   <!-- Fecha de creacion de inscripcion -->
   <ng-container matColumnDef="inscriptedAt">
    <th appCabecera mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.inscriptedAt }}</td>
  </ng-container>



  <!-- Acciones de control de clases Column -->
  <ng-container matColumnDef="actions">
    <th appCabecera mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <button [routerLink]="element.id" mat-icon-button color="primary">
        <mat-icon>visibility</mat-icon>
      </button>
      <!-- <button (click)="openDialog(element)" mat-icon-button color="primary">
        <mat-icon>edit</mat-icon>
      </button> -->
      <button (click)="delInscription(element.id)" mat-icon-button color="warn">
        <mat-icon>delete forever</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
  }
}