<h2 mat-dialog-title>Crear usuario nuevo</h2>
<div mat-dialog-content>
    <!-- contenido de genshin impact -->
    <form [formGroup]="usuariosForm">
        
        <div class="row">
            <div class="col-12">   
                <mat-form-field style="padding: 1rem" class="w-100"appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <mat-hint>4-14 caracteres, no caracteres especiales</mat-hint>
                    <mat-error>
                        {{
                            nameGet?.errors| formFieldValidationErrors
                            }} 
                    </mat-error>
                    <input formControlName="name" matInput />
                </mat-form-field>
            </div>
            <div class="col-12">
            
                <mat-form-field style="padding: 1rem" class="w-100"appearance="outline">
                    <mat-label>Weight</mat-label>
                    <mat-hint>Numero del peso, usualmente de 48 a 160</mat-hint>
                    <mat-error>
                        {{
                            weightGet?.errors| formFieldValidationErrors
                            }} 
                    </mat-error>
                    <input formControlName="weight" matInput />
                </mat-form-field>
            </div>
            <div class="col-12">
                
                <mat-form-field style="padding: 1rem" class="w-100"appearance="outline">
                    <mat-label>Email</mat-label>
                    <mat-hint>Direccion de email valida</mat-hint>
                    <mat-error>
                        {{
                            emailGet?.errors| formFieldValidationErrors
                            }} 
                    </mat-error>
                    <input formControlName="email" matInput />
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field style="padding: 1rem" class="w-100"appearance="outline">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role" disableRipple>
                      <mat-option value="USER">Usuario</mat-option>
                      <mat-option value="ADMIN">Admin</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
<!--     <pre>{{ usuariosForm.status }}</pre>
    <pre>{{ usuariosForm.value | json }}</pre> -->
    </div>
<div mat-dialog-actions class="d-flex justify-content-end">
    <button (click)="guardarUsuario()" mat-raised-button >Guardar</button>
    <button mat-dialog-close mat-button >Cancelar</button>
</div>
