<mat-drawer-container class="example-container" autosize>
  <!--SIDEBAR, abierto/cerrado en escritorio/mobile, side/over en escritorio/mobile-->
  <mat-drawer
    [opened]="isMobile() ? 'false' : 'true'"
    #drawer
    class="example-sidenav"
    [mode]="isMobile() ? 'over' : 'side'"
  >
  <mat-nav-list role="list">
    <mat-list-item routerLink="/home" role="listitem">Home</mat-list-item>
    <mat-list-item *ngIf="(currentUser$ | async)?.role === 'ADMIN'" routerLink="users" role="listitem">Usuarios</mat-list-item>
    <mat-list-item routerLink="cursos" role="listitem">Cursos</mat-list-item>
    <mat-list-item routerLink="classes" role="listitem">Clases</mat-list-item>
  </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <div class="d-flex justify-content-between align-items-center w-100">
        <div>
          <button
          (click)="drawer.toggle()"
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
          >
          <mat-icon>menu</mat-icon>
        </button>
        <span>Datos smash</span>
      </div>
      <div>
        <!--Mostrar si  esta logueado-->
        @if (currentUser$ | async; as user){
        } 
        @else {
         <!--Mostrar si  esta logueado-->
          <button (click)="login()" mat-flat-button>Login/Register</button>
        }
        </div>
      @if (currentUser$ | async; as user) {
        <div>
          {{user?.name}}
          <button color="warn" (click)="logout()" mat-flat-button>Logout</button>
         </div>
      }
    </div>
    </mat-toolbar>
    <main style="padding: 1rem">
    <!--Componente de Usuarios-->
    <!-- <app-users />  -->
    <!--Componente de Productos-->
    <!-- <app-products /> -->
    <!--Componente de rxjs--> 
    <!-- <app-rxjs /> -->
    <!-- <button (click)="mostrarComponent = !mostrarComponent">
      alternar componente
    </button>
    <app-rxjs10 *ngIf="mostrarComponent" /> -->
     <!--Componente para probar los pipes y directicvas-->
      <!--<app-pipes />-->  
      <router-outlet/>
    </main>
  </div>
</mat-drawer-container>
