<mat-drawer-container class="example-container" autosize>
  <!--SIDEBAR, abierto/cerrado en escritorio/mobile, side/over en escritorio/mobile-->
  <mat-drawer
    [opened]="isMobile() ? 'false' : 'true'"
    #drawer
    class="example-sidenav"
    [mode]="isMobile() ? 'over' : 'side'"
  >
  <mat-list role="list">
    <mat-list-item role="listitem">Home</mat-list-item>
    <mat-list-item role="listitem">Login/register</mat-list-item>
    <mat-list-item role="listitem">Productos</mat-list-item>
  </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Datos smash</h1>
      <button mat-flat-button>Login/Register</button>
    </mat-toolbar>
    <main style="padding: 1rem">
    <!--Componente de Usuarios-->
    <!-- <app-users />  -->
    <!--Componente de Productos-->
    <!-- <app-products /> -->
    <!--Componente de rxjs--> 
    <!-- <app-rxjs /> -->
    <button (click)="mostrarComponent = !mostrarComponent">
      alternar componente
    </button>
    <app-rxjs10 *ngIf="mostrarComponent" />
     <!--Componente para probar los pipes y directicvas-->
      <!--<app-pipes />-->
    </main>
  </div>
</mat-drawer-container>
